/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *
  FROM [olss_prod_4_20191217].[dbo].[OPLUObjectLease]
  where AgreementNumber = '0000380/4/01/11/2019'

  select * from Tb_OPL_Unit WHERE PoliceNumber IN ('B1941SMT', 'B1942SMT', 'B1943SMT', 'B1943TES')

  select * from Tb_MTN_Monschdl where  AgreementNumber = '0000380/4/01/11/2019'

  select * from Tb_MGT_historydoc WHERE PoliceNumber IN ('B1941SMT', 'B1942SMT', 'B1943SMT', 'B1943TES')

  UPDATE Tb_OPL_Unit SET PoliceNumber

  select * from Tb_OPL_Status

  SELECT * FROM Tb_MGT_UnitPrep WHERE PONUMBER = '00149/PO/UNK/JKC/11/2019'

  UPDATE Tb_MGT_UnitPrep SET BASTActualDate = '2019-12-19' WHERE PONUMBER = '00149/PO/UNK/JKC/11/2019'