[main]
Description=
Host=119.252.167.152
AuthType=1
GroupName=DSF-VDR-RA-GROUP
GroupPwd=
enc_GroupPwd=926F0FC30B059534F6404A005E4BD14BA51D6BD9A53322C7501E3638B076FF26382DA1375FE3973739DE622F62A0DBDCE0FF94CCC85474D3
EnableISPConnect=0
ISPConnectType=0
ISPConnect=Tsel Flash (Volume Based-Unlimited)
ISPPhonebook=C:\ProgramData\Microsoft\Network\Connections\Pbk\rasphone.pbk
ISPCommand=
Username=
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
